.maint {
    color: blue;
    font-family: Montserrat, sans-serif; 
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a6cad4;
    
}



.stored {
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left:auto;
    margin-right:auto;
    
}

.storedtwo{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

body {
    
    display: grid;
    grid-area: span;
    background-color: #edddd0;
}

.image {

    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4vh 3vh 2vh;
    grid-gap: 150px;
    /* display: flex;
    justify-content: end; */
} 

#bottom {
    display: flex;
    justify-content: center; 
    background-color: #a6cad4;
    align-items: center;
    
}



footer h4 {
    margin-top: auto;
    margin-bottom: 0;
}



#classes {
    padding: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: column;
    flex-direction: column;

}

.container-classes a {
    font-size: 100%;
    grid-row: 1/2;
    grid-column: 1/6;
}

.container-classes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.container-classes > p {
    grid-row: 3/4;
    grid-column: 1/2;
}

.container-classes aside {
    grid-row: 2/4;
    grid-column: 3/6;
}

@media screen and (max-width: 600px) {
    .container-classes {
        display: flex;
        flex-basis: 10em;
        flex-direction: column;
        min-width: 2vh;
        flex: 1 1 1fr;
    }
    .container-classes p {
        margin-top: 0;
    }
}

.navList {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    justify-content: space-around;
    list-style-type: none;
}

.navList a {
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 600px) {
    .navList{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style-type: none;
    }

    .navList a {
        padding: 2px;
    }
}


