.maint {
    color: blue;
    font-family: Montserrat, sans-serif;
   
}

header{
    background-color: lightblue;
    text-align: center;
}

#navList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    -ms-flex-align: center;
    list-style-type: none;
    margin: 0 650px; 
    
}

.stored {
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.storedtwo{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}



body {
    
    display: grid;
    grid-area: span;
    background: gray;
}



#bottom {
    display: flex;
    justify-content: center; 
    background-color: lightblue;
  
    
  
}